QAbstractButton
{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

QAbstractButton[state="black-0"]
{
    background-color: #654321;
}

QAbstractButton[state="black-1"]
{
    background-color: #FF5500;
}

QAbstractButton[state="white-0"]
{
    background-color: #FFCC00;
}

QAbstractButton[state="white-1"]
{
    background-color: #FF0000;
}
